<h1 class="title" data-cy="search-result-title">{{ title$ | async }}</h1>

<div class="grid">
  <app-recipe-card
    *ngFor="let recipe of recipes$ | async"
    data-cy="search-result-recipe"
    [recipe]="recipe"
  ></app-recipe-card>
</div>
