.title {
  text-align: center;
  position: relative;
  margin: 1rem;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 1px;
  background-color: black;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  justify-content: center;
}
