<header>
  <a routerLink="/" class="header">CookBook App</a>
</header>

<div class="container">
  <a routerLink="/favourites">Favourites</a>
  <app-search-bar
    class="search-button"
    (search)="searchFor($event)"
  ></app-search-bar>
</div>
