:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid var(--color-gray);
  font-size: 1.2em;

  background-color: var(--color-light-tint);
}

.search-button {
  height: 24px;
  width: 24px;
  margin-left: 0.6em;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:active,
a:hover {
  color: var(--color-primary);
}

.header {
  font-weight: 700;
  font-size: 1.2em;
}

.container {
  display: flex;
}
