:host {
  border-top: 4px solid var(--color-primary);
  background-color: var(--color-medium-shade);
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-around;
  color: var(--color-light);
  flex-wrap: wrap;
  gap: 1em;
  text-align: center;
}

svg {
  --size: 24px;
  display: block;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
}

svg:nth-of-type(1):hover {
  color: #4267b2;
}
svg:nth-of-type(2):hover {
  color: #833ab4;
}
svg:nth-of-type(3):hover {
  color: #1da1f2;
}

.icon-container {
  display: flex;
  gap: 0.6em;
}
