:host {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.recipe-img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 2px;
}

.recipe-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-info__ingredients {
}

.recipe-info__show-recipe-btn {
  color: var(--color-light);
  background-color: var(--color-primary);
  display: block;
  margin-left: auto;
  border: none;
  padding: 0.6rem 2.4rem;
  cursor: pointer;
  box-shadow: 0 1.2rem 4.8rem hsla(0, 0%, 0%, 0.15);
}

.recipe-info__show-recipe-btn:hover,
.recipe-info__show-recipe-btn:active {
  background-color: var(--color-primary-shade);
  box-shadow: 0 1.2rem 2.4rem hsla(0, 0%, 0%, 0.15);
}
