<ng-container *ngIf="recipe$ | async as recipe">
  <img [src]="recipe.image" [alt]="recipe.title" class="recipe-img" />

  <div class="recipe-info">
    <h1>{{ recipe.title }}</h1>

    <div class="recipe-info__ingredients">
      <h2>Ingredients</h2>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients.slice(0, 5)">
          {{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.unit }}
        </li>
        <li>...</li>
      </ul>

      <button
        type="button"
        class="recipe-info__show-recipe-btn"
        (click)="showRecipeDetails()"
      >
        Show recipe
      </button>
    </div>
  </div>
</ng-container>
