<svelte:options tag="comp-rate-recipe"/>

<script lang="ts">
  import {liveQuery, Observable} from "dexie";
  import {db} from "../../shared/db";
  import {fade} from "svelte/transition";
  import {afterUpdate} from "svelte";
  import {Recipe} from "../../shared/models/recipe.model";

  export let recipe: Recipe | null = null;

  let isFavourite: Observable<boolean>;

  afterUpdate(() => {
    isFavourite = liveQuery(async () => {
      if (!recipe) return undefined;
      const r = await db.favourite.where(':id').equals(recipe.id).first();
      return !!r;
    });
  });

  function toggleLikeRecipe() {
    if (!recipe) return;

    if ($isFavourite) db.favourite.delete(recipe.id);
    else db.favourite.put(recipe!);
  }

  function fadeIcon(node) {
    return fade(node, {duration: 80});
  }

</script>

{#if recipe}
  <button class="btn" on:click={toggleLikeRecipe} aria-label="I like this recipe">
    <svg viewBox="0 0 32 32" class="icon">
      <g>
        {#if $isFavourite === true}
          <path transition:fadeIcon
                d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798z"></path>
        {:else if $isFavourite === false}
          <path transition:fadeIcon
                d="M32 12.408l-11.056-1.607-4.944-10.018-4.944 10.018-11.056 1.607 8 7.798-1.889 11.011 9.889-5.199 9.889 5.199-1.889-11.011 8-7.798zM16 23.547l-6.983 3.671 1.334-7.776-5.65-5.507 7.808-1.134 3.492-7.075 3.492 7.075 7.807 1.134-5.65 5.507 1.334 7.776-6.983-3.671z"></path>
        {/if}
      </g>
    </svg>
  </button>
{/if}

<style>
  :host {
    --size: 32px;
    --color: currentColor;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: unset;
    color: inherit;
    border: unset;
  }

  .btn {
    height: var(--size);
    width: var(--size);
    cursor: pointer;
    position: relative;
  }

  .icon {
    pointer-events: none;
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color);
  }
</style>
