:host {
  --size: 32px;
  --color: currentColor;

  display: inline-block;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  position: relative;
}

.icon {
  pointer-events: none;
  display: block;
  width: 100%;
  height: 100%;
  fill: var(--color);
}
