<section aria-labelledby="last-viewed">
  <h2 class="last-viewed">
    <span class="last-viewed__stripe"></span>
    <span class="last-viewed__text">Ostatnio przeglądane</span>
    <span class="last-viewed__stripe"></span>
  </h2>

  <div class="grid">
    <ng-container *ngFor="let recipe of lastViewed$ | async">
      <a [routerLink]="['recipe', recipe.id]" data-cy="last-viewed-recipe">
        <img [src]="recipe.image" [alt]="recipe.title">
        <div class="content">
          <h3 class="content__title">{{ recipe.title }}</h3>
        </div>
      </a>
    </ng-container>
  </div>
</section>
