.grid {
  display: grid;
  gap: 1rem
}

a {
  cursor: pointer;
  margin-bottom: .2em;
  text-decoration: none;
  color: inherit;
  outline: none;
  display: flex;
  box-shadow: 0 1.2em 2.4em hsla(0, 0%, 0%, 0.15);
  border: 1px solid var(--color-medium);
  border-radius: 3px;
}

a:hover,
a:focus {
  border-color: var(--color-primary);
  outline: 2px solid var(--color-primary);
}

img {
  width: 13em;
}

.last-viewed {
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 1em 0;
}
.last-viewed__text {
  padding: 0 .6em;
}
.last-viewed__stripe {
  position: relative;
}
.last-viewed__stripe::after {
  content: '';
  height: 1px;
  width: 100%;
  left: 0;
  top: 50%;
  background-color: currentColor;
  position: absolute;
}

.content {
  flex-grow: 1;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__title {
  font-size: 1.25em;
  word-break: break-word;
  text-align: center;
}

@media screen and (max-width: 600px){
  a {
    flex-direction: column;
  }

  img {
    width: 100%;
    max-height: 13em;
  }
}
