:host {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  box-shadow: 0 1.2rem 2.4rem hsla(0, 0%, 0%, 0.15);
  transition: 0.3s all;
}

:host:hover,
:host:active {
  transform: scale(1.02);
  color: var(--color-primary);
}

.title {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
