:host {
  display: flex;
}

.search-button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  padding: 0;
}

.search-button:hover {
  color: var(--color-primary);
}

.search-icon {
  height: 100%;
  width: 100%;
}

.search-modal {
  position: fixed;
  inset: 0;
  z-index: 9999;

  background-color: hsl(0 0% 50% / 0.75);
}

.search-form {
  --input-height: 3em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

.search-input {
  height: var(--input-height);
  min-width: 30ch;
  max-width: 90%;
  border-radius: 5px;
  padding-right: var(--input-height);
}

.submit-button {
  position: absolute;
  right: 0;
  top: 0;
  height: var(--input-height);
  width: var(--input-height);
  display: flex;
  padding: 0.5em;
}
