<h2 class="stripe">
  <span class="stripe__inner">Today's special </span>
</h2>
<app-recipe-of-the-day></app-recipe-of-the-day>

<h2 class="stripe">
  <span class="stripe__inner">Kategorie</span>
</h2>

<div class="grid">
  <app-category-card
    *ngFor="let category of categories$ | async"
    [category]="category"
  ></app-category-card>
</div>

<app-last-viewed></app-last-viewed>

