.stripe {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.stripe__inner {
  position: relative;
  z-index: 1;
  background-color: white;
  padding: 0 .6em;
}

.stripe::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background-color: black;
}

.grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.grid > * {
  flex: 1;
  min-width: 12rem;
}
