<img
  class="recipe-image"
  [src]="recipe?.image"
  [alt]="recipe?.title"
  (click)="showRecipeDetails()"
/>

<div class="content">
  <h2 class="content__title" (click)="showRecipeDetails()">
    {{ recipe?.title }}
  </h2>
  <app-star-button [fill]="(isFavourite$ | async) === true" data-cy="addToFavourite" class="content__favorite" (click)="toggleFavourite()"></app-star-button>
</div>
