:host {
  box-shadow: 0 1.2em 2.4em hsla(0, 0%, 0%, 0.15);
  border: 1px solid var(--color-medium);
  transition: 0.3s all;
}

:host:hover,
:host:active {
  box-shadow: 0 1.2em 1.2em hsla(0, 0%, 0%, 0.15);
  border: 1px solid var(--color-tertiary-shade);
  transform: scale(1.01);
}

.recipe-image {
  display: block;
  height: 12em;
  width: 100%;
  cursor: pointer;
}

.content {
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8em;

  border-top: 1px solid var(--color-medium);
  flex: 1;
}

.content__title {
  font-size: 1em;
  cursor: pointer;
}

.content__title:hover {
  color: var(--color-primary);
}

.content__favorite {
  transition: all 0.2s;
}

.content__favorite:hover {
  transform: scale(1.1);
}
