:host {
  display: block;
  padding: 0 2rem;
}

.title {
  text-align: center;
  position: relative;
  margin: 1rem;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 1px;
  background-color: black;
}

.details {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

img {
  border-radius: 3px;
  max-width: 100%;
  max-height: 100%;
}

section {
  max-width: 55ch;
}

.details__ingredients,
.details__preparation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.details__img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
