<ng-container *ngIf="recipe$ | async as recipe">
  <h1 class="title">{{ recipe.title }}</h1>

  <div class="details">
    <div class="details__img">
      <img [src]="recipe.image" [alt]="recipe.title" />
      <app-add-to-favourites-button
        [recipe]="recipe"
      ></app-add-to-favourites-button>
    </div>

    <section class="details__ingredients">
      <h2>Ingredients</h2>
      <ul>
        <li *ngFor="let ingredient of ingredients$ | async">
          {{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.unit }}
        </li>
      </ul>
      <!-- <input type="number" [formControl]="servingsInput" /> -->
      <app-servings-input
        name="Servings"
        [formControl]="servingsInput"
      ></app-servings-input>
    </section>

    <section class="details__preparation">
      <h2>Preparation steps</h2>
      <ol>
        <li *ngFor="let step of recipe.preparationSteps">{{ step }}</li>
      </ol>
    </section>
  </div>
</ng-container>
