<svelte:options tag="comp-hello"/>

<script lang="ts">
  import {createEventDispatcher} from "svelte";

  export let name = 'world';
  const dispatch = createEventDispatcher();

  $: {
    if (name.length > 10) {
      dispatch('exceeded-max-length', name);
    }
  }
</script>

<h1>Hello {name}!</h1>
