<h1 class="title">Favourites</h1>

<div class="grid">
  <app-recipe-card
    *ngFor="let recipe of favourites$ | async"
    [recipe]="recipe"
    data-cy="favouriteRecipeCard"
  ></app-recipe-card>
</div>
