.button {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2rem;

  background-color: var(--color-primary);
  color: var(--color-light);

  box-shadow: 0 1.2rem 3.6rem hsla(0, 0%, 0%, 0.15);
  transition: all 0.2s;

  cursor: pointer;
  border: none;
  border-radius: 2px;
}

.button:hover,
.button:active {
  background-color: var(--color-primary-shade);
  box-shadow: 0 1.2rem 2.4rem hsla(0, 0%, 0%, 0.15);
}

.button:hover .favorite,
.button:active .favorite {
  transform: scale(1.1);
}

.favorite {
  transition: all 0.2s;
}
