:host {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.control {
  display: flex;
  gap: 0.4rem;
}

button {
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0.6 2.4rem hsla(0, 0%, 0%, 0.2);
  transition: all 0.2s;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--color-light);
  background-color: var(--color-tertiary);
}

button:hover {
  background-color: var(--color-secondary-tint);
}

button:active {
  transform: scale(0.98);
  background-color: var(--color-primary-tint);
}

input {
  max-width: 6rem;
}

input:focus {
  outline: none;
  border: 1px solid var(--color-primary);
}

span {
  font-weight: 700;
}
