/* You can add global styles to this file, and also import other style files */
@import url(sanitize.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --color-primary: #ff922b;
  --color-primary-rgb: 255, 146, 43;
  --color-primary-contrast: #000000;
  --color-primary-contrast-rgb: 0, 0, 0;
  --color-primary-shade: #e08026;
  --color-primary-tint: #ff9d40;

  --color-secondary: #fd7e14;
  --color-secondary-rgb: 253, 126, 20;
  --color-secondary-contrast: #000000;
  --color-secondary-contrast-rgb: 0, 0, 0;
  --color-secondary-shade: #df6f12;
  --color-secondary-tint: #fd8b2c;

  --color-tertiary: #f76707;
  --color-tertiary-rgb: 247, 103, 7;
  --color-tertiary-contrast: #000000;
  --color-tertiary-contrast-rgb: 0, 0, 0;
  --color-tertiary-shade: #d95b06;
  --color-tertiary-tint: #f87620;

  --color-gray: #777;
  --color-light: #eee;
  --color-facebook: blue;

  --color-medium: #92949c;
  --color-medium-rgb: 146, 148, 156;
  --color-medium-contrast: #000000;
  --color-medium-contrast-rgb: 0, 0, 0;
  --color-medium-shade: #808289;
  --color-medium-tint: #9d9fa6;

  --color-light: #f4f5f8;
  --color-light-rgb: 244, 245, 248;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0, 0, 0;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

* {
  margin: 0;
}
